######################
# JAVA
######################
*.class
*/build/*
*/out/*
.gradle/


######################
# IntelliJ IDEA
######################
.idea
*.iws
*.iml
*.ipr


######################
# etc
######################

# OS Files #
.DS_Store

# Package Files
*.jar
*.war
*.ear
*.db
