######################
# JAVA
######################
*.class
*/build/*
*/out/*
.gradle/


######################
# IntelliJ IDEA
######################
.idea/*
*.iws
*.iml
*.ipr


######################
# Python
######################
.pytest_cache/*
__pycache__/

######################
# etc
######################

# OS Files #
.DS_Store

# Package Files
*.jar
*.war
*.ear
*.db
